<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head}"></head>

<body>

    <nav th:replace="~{fragments/layout :: navbar}"></nav>

    <div class="container-fluid p-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Bienvenido</h6>
                <h1 class="display-5 text-uppercase mb-0">Iniciar Sesión</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 mx-auto">
                    <form th:action="@{/login}" method="post">
                        <div th:if="${param.error}" class="alert alert-danger">
                            Usuario o contraseña inválidos.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success">
                            Has cerrado sesión correctamente.
                        </div>

                        <div class="mb-3">
                            <input type="text" name="username" class="form-control bg-light border-0 px-4"
                                placeholder="Usuario / Email" style="height: 55px;" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control bg-light border-0 px-4"
                                placeholder="Contraseña" style="height: 55px;" required>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary w-100 py-3" type="submit">Entrar</button>
                        </div>
                        <div class="text-center">
                            <p>¿No estás registrado? <a th:href="@{/register}">Regístrate aquí</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/layout :: footer}"></div>
    <div th:replace="~{fragments/layout :: scripts}"></div>

</body>

</html>